.addTransactionButtonDiv{
    text-align: right;
}

.addTransactionButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
}

.addTransactionButton:hover {
    background-color: #09770d;
    cursor:pointer;
    transition: background-color 0.3s ease;
}